@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
.serviveContainer {
    background: #eef2f3;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
  }
  
  #HeadText {
    font-size: 36px;
    margin-bottom: 3rem;
    font-weight: bold;
    color: #1622377f;
    text-align: center;
    width: 100%;
  }
  
  .card-wrap {
    width: 400px;
    min-height: 600px;
    height: auto;
    overflow: hidden;
    background: #fff;
    border-radius: 20px;
    border: 5px solid #fff;
    overflow: hidden;
    color: #6492e2;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin: 1rem;
  
  }
  
  .card-wrap:hover {
    transform: scale(1.04);
  }
  
  @media screen and (max-width: 720px) {
    .card-wrap {
      width: 340px;
      min-height: auto;
    }
    #HeadText {
      margin-top: 3rem;
    }
  }
  
  .card-text {
    margin: 2rem;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
    
  }
  #IconStyle{
    color: #6492e2;
    /* background-color:#313132; */
    padding: 1.3rem;
    font-size: 65px;
    border-radius: 57px;

    margin-top: 1.5rem;
    /* position:fixed; */
  }
  .card-subtext{
    margin: 1.4rem;
    text-align: left;
    color: #3d5682;
    font-family: 'Jura', sans-serif;
  }